<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="tmkConn" connectionString="data source=HJTESTDB;initial catalog=AAD;persist security info=True;user id=tmWMS-prod;password=nH4dhSd4bDsbz@b3dbSd6b;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>